<div class="footer">
  Remarques, commentaires, ajouts d'évènements: berru@riseup.net

  <a
    href="https://hits.seeyoufarm.com/api/count/graph/dailyhits.svg?url=mantes-manif.info"
  >
  <br/>
    <img
      src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fmantes-manif.info&count_bg=%23B74447&title_bg=%23CACACACA&icon=&icon_color=%23E7E7E7&title=visites+%28jour%2Ftotal%29&edge_flat=true"
    />
  </a>
</div>
